<div class="relative">
  <div class="container mx-auto">
    <div class="overflow-x-auto bg-base-100 rounded-lg shadow-xl">
      <table class="table w-full">
        <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">{{ header }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of heroes"
            class="hover:bg-base-200 cursor-pointer"
            (click)="selectHero(hero)"
            [class.bg-base-200]="selectedHeroId === hero.id">
          <td>{{hero.name}}</td>
          <td>
            <div class="flex items-center gap-2">
              {{hero.type | firstLetterUpperCase}} {{hero.type | heroType}}
            </div>
          </td>
          <td>
            <div class="flex items-center gap-2">
              {{hero.rating}} {{hero.rating | heroRating}}
            </div>
          </td>
          <td>
            <div class="flex items-center gap-2">
              {{hero.health}} {{hero.health | heroHealth}}
            </div>
          </td>
          <td><div class="badge badge-primary">{{hero.superpower}}</div></td>
          <td class="p-2">
            <button
              (click)="handleRemove($event, hero.id)"
              class="btn btn-ghost btn-circle btn-sm hover:bg-error hover:border-error group transition-all duration-200"
              title="Delete hero">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 opacity-60 group-hover:opacity-100 group-hover:text-white transition-all duration-200"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                />
              </svg>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
