<div class="relative">
  <div class="container mx-auto p-6">
    <div class="overflow-x-auto bg-base-100 rounded-lg shadow-xl">
      <table class="table w-full">
        <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">{{ header }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of heroes"
            class="hover:bg-base-200 cursor-pointer"
            (click)="selectHero(hero)"
            [class.bg-base-200]="selectedHeroId === hero.id">
          <td>{{hero.name}}</td>
          <td>
            <div class="flex items-center gap-2">
              {{hero.type | firstLetterUpperCase}} {{hero.type | heroType}}
            </div>
          </td>
          <td>
            <div class="flex items-center gap-2">
              {{hero.rating}} {{hero.rating | heroRating}}
            </div>
          </td>
          <td>
            <div class="flex items-center gap-2">
              {{hero.health}} {{hero.health | heroHealth}}
            </div>
          </td>
          <td><div class="badge badge-primary">{{hero.superpower}}</div></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
